@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Montserrat&family=Noto+Serif+JP:wght@900&display=swap');
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
.bg{
	background-image: url('../images/backG.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #404258;
	background-size: 100% 100%;
 }
h2{
	font-family: Lora;
}
a{
	text-decoration: none;
}
.BodyContainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #eeeee4;
}
.leftSide{
	height: 92vh;
	width: 50%;	
}
.rightSide{
	height: 92vh;
	width: 50%;
}
.langName{
	font-family: Lora;
	font-size: 30px;
	padding: 1rem;
	
}
.langInfo{
	display: flex;
}
.briefInfo{
	width: 50%;
	padding: 1rem;
}
.usesPurpose{
	width: 50%;
	padding: 1rem;
}
.compare{
	height: 40%;
	display: flex;
	flex-direction: row;
	border: 2px solid #50577A;
	padding: 1rem;
	border-radius: 10px;
	margin: 2rem;
	box-shadow: -5px 10px 10px #404258da;

	
}
.compareLeft{
	width: 50%;
	padding: 1rem;
}
.compareRight{
	width: 50%;
	padding: 1rem;
}
.howItWorks{
	height: 50%;
	height: 50%;
	border: 2px solid #50577A;
	padding: 1rem;
	border-radius: 10px;
	margin: 2rem;
	box-shadow: -5px 10px 10px #404258da;

}
.intro{
	padding: 1rem;
	height: 35%;
	
}
.histo{
	height: 50%;
	border: 2px solid #50577A;
	padding: 1rem;
	border-radius: 10px;
	margin: 2rem;
	box-shadow: -5px 10px 10px #404258da;
	
}
.moreOn{
	height: 10%;
	display: flex;
	justify-content: space-evenly
}
