.grid-container {
  display: grid;
  margin: auto;
  width: 80%;
  height: 90vh;
  grid-template-columns: auto auto;
  padding: 10px;

}
.grid-item {
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: 7px;
  border: 1px;
  border-radius: 10px;
  padding: 20px;
  margin: 1rem;
  font-size: 30px;
  text-align: center;
  align-self: center;
}

.grid-item a { 
  text-decoration: none;
  color: #eeeee4;
}
.grid-item a:visited { 
  text-decoration: none;
  color: #eeeee4;   
}
.grid-item:hover{
  background-color: rgb(32, 116, 158);
}
